# QUARTERBACK_RATING
.gitignore

# do not stage data files and results files for portability
quarterback_rating/data/*
quarterback_rating/results/*

# Project files and metadata
*.Rproj
.Rproj*
*.RData
*.Rhistory
*.RProject*
